<header>
  <nav>
    <ul>
      <li><a href="#">Anasayfa</a></li>
      <li><a routerLink="/music-production/">Müzik Üretimi</a></li>
      <li><a href="#">Ekipmanlar</a></li>
      <li><a href="#">Teknikler</a></li>
      <li><a href="#">Mixing ve Mastering</a></li>
      <li><a href="#">Hakkımızda</a></li>
    </ul>
  </nav>
</header>

<main>
  <section>
    <h1>Elektronik Müzik Prodüksiyonu Blogu</h1>
    <p>Hoş geldiniz! Bu blog, elektronik müzik prodüksiyonuyla ilgilenenlere bilgi ve eğitim sunmayı amaçlamaktadır. İyi okumalar!</p>
  </section>

  <section>
    <h2>Son Yazılar</h2>
    <div class="blog-posts">
      <article>
        <h3>Başlık 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada purus vel lectus porta, eu tempor
          nulla ultricies.</p>
        <a routerLink="/blog-post" [queryParams]="{ postId: 1 }">Devamını Oku</a>
      </article>
      <article>
        <h3>Başlık 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada purus vel lectus porta, eu tempor
          nulla ultricies.</p>
        <a routerLink="/blog-post" [queryParams]="{ postId: 2 }">Devamını Oku</a>
      </article>
    </div>

  </section>
</main>

<footer>
  <p>Tüm hakları saklıdır &copy; 2023</p>
</footer>
